<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: head">
	<title th:text="${post.title}">Create Post</title>
</head>

<body>
	<header th:replace="template :: body" />
	<br>
	<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Email</th>
          <th>Username</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>mark@email.com</td>
          <td>the_mark7</td>
		  <td>user</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Ashley</td>
          <td>ash@email.com</td>
          <td>ash11927</td>
          <td>user</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Audrey</td>
          <td>aud@email.com</td>
          <td>audann84</td>
          <td>admin</td>
        </tr>
        <tr>
          <td>4</td>
          <td>John</td>
          <td>john@email.com</td>
          <td>jr5527</td>
          <td>user</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Aaron</td>
          <td>arr@email.com</td>
          <td>aaron_butler</td>
          <td>user</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Chris</td>
          <td>chriz@email.com</td>
          <td>cab79</td>
          <td>admin</td>
        </tr>
      </tbody>
    </table>
</div>

	<footer th:replace="template :: footer" />
</body>
</html>