body>header {
	background: #eee;
	padding: 5px;
}

body>header>a>img, body>header a {
	display: inline-block;
	vertical-align: middle;
	padding: 0px 5px;
	font-size: 1.2em;
}

body>footer {
	background: #eee;
	padding: 5px;
	margin: 10px 0;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#logged-in-info {
	float: right;
	margin-top: 10px;
}

#logged-in-info form {
	display: inline-block;
	margin-right: 10px;
}

body>aside {
	float: right;
	width: 200px;
	background: #CCC;
	padding: 15px;
	margin-left: 20px;
	margin-top: 10px;
}

body>aside h2 {
	margin: 5px 0px 15px 0px;
}

body>aside a {
	display: block;
	margin: 5px 0px;
	text-decoration: none;
}

body>main:after {
	content: '';
	display: block;
	clear: both;
}

ul#messages li {
	display: block;
	width: 80%;
	margin: 5px auto;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
}

ul#messages li.info {
	background: #7f7;
}

ul#messages li.error {
	background: #d00;
	color: white;
}

.formError {
	color:red;
	font-style: italic;
}

.contact-form{ margin-top:15px;}
.contact-form .textarea{ min-height:220px; resize:none;}
.form-control{ box-shadow:none; border-color:#eee; height:49px;}
.form-control:focus{ box-shadow:none; border-color:#00b09c;}
.form-control-feedback{ line-height:50px;}
.main-btn{ background:#00b09c; border-color:#00b09c; color:#fff;}
.main-btn:hover{ background:#00a491;color:#fff;}
.form-control-feedback {
line-height: 50px;
top: 0px;
}



