<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: head">
<title>Login</title>
</head>

<body>
	<header th:replace="template :: body" />
	
	<div class="container">
		<div class="alert alert-danger" role="alert" th:if="${param.error}">
			The email or password is incorrect!
		</div>
		<form th:action="@{/login}" method="post" class="col-md-6 field-label-responsive">
			<h2 class="h3 mb-3 font-weight-normal">Sign in</h2>
			<lable for="inputEmail" class="sr-only">Email</lable>
			<input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus/>
			<br>
			
			<lable for="inputPassword" class="sr-only">Password</lable>
			<input type="password" id="password" name="password" class="form-control" placeholder="Password" required autofocus/>
		
			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" name="remember-me" />Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary" type="submit">Sign up</button>
			<div class="margin-top20 text-center">Don't have an account?
				<a th:href="@{/signup}">Create an account</a>
			</div>
		</form>
	</div>

	<footer th:replace="template :: footer" />
</body>